/* 
.LoginPg{
  display: flex;
  gap: 200px;
}
.logInImgContainer{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
  url('../assets/img/loginIMG.png');
  width: 950px;
  height: 980px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  
}
 

.WelcomeMsg{
  margin-top: 50px;
  width: 600px;
  font-size: 45px;
  padding-left: 40px;
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.loginLogo{
  width: 190px;
  margin-bottom: 20px;
}
.LogInSpaceDetails{
  margin-top: 250px;
}
.LogInText {
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
}

.MatNoInputHome{
  height: 50px;
  width: 460px;
  border-radius: 30px;
  color: black;
  border: 2px solid gray;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-left: 20px;
  font-family: Lato;
  font-weight: 600;
  font-size: 18px;

}
.passInputHome{
  height: 50px;
  width: 460px;
  border-radius: 30px;
  color: black;
  border: 2px solid gray;
  margin-bottom: 5px;
  padding-left: 20px;

}
.MatInput{
  font-size: 25px;
  margin-bottom: 10px;
 color: gray;
 font-weight: 400;
 font-family: "Lato", sans-serif;
}
.FgtPasswdrTxt{
  font-size: 15px;
  font-weight: 400;
  font-family: Lato;
  color: gray;
}
.password-toggle-icon{
  position: absolute;
  bottom:353px;
  right: 300px;
  z-index: 1000;
  cursor: pointer;
}
.logINBtn{
  width: 460px;
  border-radius: 30px;
  background-color: #09645B;
  color: white;
  border: none;
  height: 50px;
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
} */

.logInImgContainer{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
  url('../assets/img/LandPageFoodImg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  padding-top: 100px;
  text-align: center;
  
}

.WelcomeMsg{
  font-size: 49px;
  text-align: center;
  color: rgb(207, 206, 206);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  
}
.WelcomeMessage{
  display: none;
}

.logINBtn{
  width: 350px;
  border-radius: 30px;
  background-color: #641709;
  color: white;
  border: none;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: calc(25%);
  text-align: center;
 
}
.brandName{
  font-size: 65px;
  font-weight: 900;
  font-family: Lato;
  font-style: italic;
  background: linear-gradient(to right, #f54d8d, 
        #ff6b08, #f555f5, #eedd44); 
-webkit-text-fill-color: transparent; 
-webkit-background-clip: text; 
}

.swiftKitchenLogo{
  width: 80px;
}

@media screen and (max-width :1024px) {
  .LoginPg{
    display: grid;
  }
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 1024px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    padding-top: 60px;
    text-align: center;
    
  }
 
  .WelcomeMsg{
    font-size: 49px;
    text-align: center;
    color: rgb(207, 206, 206);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    
  }
  .WelcomeMessage{
    display: none;
  }
 
  .logINBtn{
    width: 350px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(40%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }
}


@media screen and (max-width :834px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 834px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    
    
  }
 

  .WelcomeMsg{
    font-size: 49px;
    text-align: center;
    color: rgb(207, 206, 206);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    
  }
  .WelcomeMessage{
    display: none;
    

  }


  .logINBtn{
    width: 350px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 65px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 

@media screen and (max-width :800px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 800px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    
  }
 

  .WelcomeMsg{
    font-size: 49px;
    text-align: center;
    color: rgb(207, 206, 206);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    
  }
  .WelcomeMessage{
    display: none;
    

  }
  .logINBtn{
    width: 350px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(70%);
    text-align: center;
   
  }
  .brandName{
    font-size: 60px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 

@media screen and (max-width :768px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 768px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    
  }
 

  .WelcomeMsg{
    font-size: 45px;
    text-align: center;
    color: rgb(207, 206, 206);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    
  }
  .WelcomeMessage{
    display: none;
    

  }



  .logINBtn{
    width: 350px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 60px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 50px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 
@media screen and (max-width :688px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 688px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
 

  .WelcomeMsg{
    font-size: 45px;
    text-align: center;
    color: rgb(207, 206, 206);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    
  }
  .WelcomeMessage{
    display: none;
    

  }


  .logINBtn{
    width: 350px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 50px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 

@media screen and (max-width :600px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 600px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    padding-left: 20px;
    padding-right: 20px;
    
  }
 

  .WelcomeMsg{
    font-size: 40px;
    text-align: center;
    color: rgb(207, 206, 206);
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    
  }
  .WelcomeMessage{
    display: none;
    

  }
  .logINBtn{
    width: 350px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 49px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 

@media screen and (max-width :430px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 430px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    padding-left: 12px;
    padding-right: 12px;
    
  }
 

  .WelcomeMessage{
    display: block;
    font-size: 33px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    

  }

  .WelcomeMsg{
    display: none;
  }
 
 


  .logINBtn{
    width: 300px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 


@media screen and (max-width :414px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 414px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    padding-left: 11px;
    padding-right: 11px;
    
  }
 

  .WelcomeMessage{
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    

  }

  .WelcomeMsg{
    display: none;
  }
 

  .logINBtn{
    width: 300px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 



@media screen and (max-width :412px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 412px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
 

  .WelcomeMessage{
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    

  }

  .WelcomeMsg{
    display: none;
  }
 


  .logINBtn{
    width: 300px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 


@media screen and (max-width :393px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 393px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
    
    
  }
  .WelcomeMessage{
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    

  }

  .WelcomeMsg{
    display: none;
  }
 


  .logINBtn{
    width: 270px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 


@media screen and (max-width :375px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 375px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 130px;
    
    
  }
 

  .WelcomeMessage{
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    

  }

  .WelcomeMsg{
    display: none;
  }
 

  .logINBtn{
    width: 270px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(50%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 


@media screen and (max-width :360px) {

 
  .logInImgContainer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73),rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)),
    url('../assets/img/LandPageFoodImg.jpg');
    width: 360px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    
    
  }
 

  .WelcomeMessage{
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    

  }

  .WelcomeMsg{
    display: none;
  }
 


  .logINBtn{
    width: 270px;
    border-radius: 30px;
    background-color: #641709;
    color: white;
    border: none;
    height: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: normal;
    margin-top: calc(60%);
    text-align: center;
   
  }
  .brandName{
    font-size: 35px;
    font-weight: 900;
    font-family: Lato;
    font-style: italic;
    background: linear-gradient(to right, #f54d8d, 
          #ff6b08, #f555f5, #eedd44); 
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  }

} 
